node_modules
Dockerfile*
docker-compose*
.dockerignore
.git
__pycache__/
.yolov5_venv/
.yolov8_venv/
.yolov11_venv/
.git/
*.pyc
*.pyo
*.pyd
.gitignore
README.md
LICENSE
.vscode
Makefile
helm-charts
.env
.editorconfig
.idea
coverage*